.exchange_box{
    .card{
      border: 0;
      .card-header{
        background-color: #878d99;
        border-radius: 0;
        color: white;
        font-weight: 700;
      }
      .card-block{
        padding-top: 10px;
        .title{
          color: #878d99;
          font-weight: 700;
        }
        .btn-exchange{
          background-color: #5bc0de;
          border-color: #5bc0de;
          border-radius: 0;
        }
      }
    }
}

.exchange_box{
  .card{
    .card-block{
      .destination_currency{
        .title{
          display: inline-block;
        }
      }
    }
  }
}
.refresh-icon {
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
}

.change-values {
  float: right;
  padding: 2px 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f9f9f9;
  border: none;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -3px
}
