body {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-box{
  margin-top: 20%;
  .title{
    color: #eceeef;
    // text-shadow: 2px 0px 2px;
  }
}

.exchange_box{
  margin: 10px auto;
  .logo-box{
    margin: 0 auto;
    padding-bottom: 10px;
  }
}
